*{
    margin: 0;
    padding: 0;
}
body{
height: 100vh;
width: 100vw;
background-image: radial-gradient(#fff,#000);
}
.container{

    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container img{
max-width: 90vw;

max-height: 90vh;


}
.thumbnail{

    display: flex;
    flex-direction: row;
    bottom: 0;
    justify-content: center;
    align-items: center;
}
.th_img{
    height: 5vh;
    max-width: auto;
    opacity: 0.5;
}
.th_img:hover{
    max-height: 6vh;
    max-width: auto;
    border: oldlace solid;
    opacity: 1;

}
button{
    margin: 1vh;
    background-image: transparent;
    color: #000;
    border: none;
    font-size: 3vw;
    font-weight: 100;
    font-stretch:expanded;
    padding: 1vh, 1vw;
    border-radius: 1vh;
}
button:hover{
    background-image: radial-gradient(#0ff,#000);
    border-radius: 1vh;
    color: #fff;
}
button img{
    max-height: 5vh;
    width: auto;
    background-color: transparent;
}
#path, #total{
    background-image: linear-gradient(45deg,#fff,transparent);
    border-radius: 1vh;
    padding: 1vh;
}